<div id="header">
   <link rel="stylesheet" href="styles/styles.css">
    <style>

ul {
  list-style-type: none;
 
  margin-bottom: 20px;
  padding: 0;
  overflow:hidden;
  background-color: #48C9B0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: 1px solid #e7e7e7;
 
}

li {
  float: left;
}


li a {
  display: block;
  font-size:larger;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #16A085;
}
    </style>
    
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/Books">Books</a></li>
        <li><a href="/Reports">Reports</a></li>
        <li><a href="/Order">Make Order</a></li>
       
    </ul>
</div>



